<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lightyear_beroepsproduct3">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ProfielBewerkenActivity"
            android:label="Profiel Bewerken"
            android:parentActivityName=".ProfileActivity"></activity>
        <activity
            android:name=".ConfiguratorUpdateBestellingActivity"
            android:label="Configurator - Update Bestelling"
            android:parentActivityName=".ConfiguratorUpdateVelgActivity"/>
        <activity
            android:name=".ConfiguratorUpdateVelgActivity"
            android:label="Configurator - Update Velg"
            android:parentActivityName=".ConfiguratorUpdateLakActivity"/>
        <activity
            android:name=".ConfiguratorUpdateLakActivity"
            android:label="Configurator - Update Lak"
            android:parentActivityName=".ConfiguratorUpdateKleurActivity"/>
        <activity
            android:name=".ConfiguratorUpdateKleurActivity"
            android:label="Configurator - Update Kleur"
            android:parentActivityName=".ProfileBestellingActivity"/>
        <activity
            android:name=".ProfileBestellingActivity"
            android:label="Bestelling Details"
            android:parentActivityName=".ProfileActivity" />
        <activity
            android:name=".ConfiguratorBestellenActivity"
            android:label="Configurator - Bestelling"
            android:parentActivityName=".ConfiguratorVelgActivity" />
        <activity
            android:name=".ConfiguratorVelgActivity"
            android:label="Configurator - Velg"
            android:parentActivityName=".ConfiguratorLakActivity" />
        <activity
            android:name=".ConfiguratorLakActivity"
            android:label="Configurator - Lak"
            android:parentActivityName=".ConfiguratorKleurActivity" />
        <activity
            android:name=".ConfiguratorKleurActivity"
            android:label="Configurator - Kleur"
            android:parentActivityName=".ConfiguratorActivity" />
        <activity
            android:name=".RegisterActivity"
            android:label="Registeren"
            android:parentActivityName=".LoginActivity"/>
        <activity
            android:name=".MainActivity"
            android:label="Lightyear" />
        <activity
            android:name=".ProfileActivity"
            android:label="Profiel" />
        <activity
            android:name=".ConfiguratorActivity"
            android:label="Configurator - Model" />
        <activity
            android:name=".LoginActivity"
            android:label="Lightyear">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>